.whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #1E9B51;
}

.whatsapp-button i {
    margin-right: 20px;
}

.service-icon {
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
}
